<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PSPITSEntities" connectionString="metadata=res://*/PspitsDataModel.csdl|res://*/PspitsDataModel.ssdl|res://*/PspitsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FRANK-PC;initial catalog=PSPITS;persist security info=True;user id=sa;password=pass;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>